html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.blog-details-content img{
    max-width: 100%;

}

.body-with-fixed-navbar {
    padding-top: 56px; 
}

.blog-post-heading,
.blog-post-description {
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: #ddbb2c !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

.navbar-scrolled {
    background-color: white !important;
    transition: background-color 1.9s ease;
}

.navbar-logged-in {
    width: 100%;
    background-color: white;
}

.btn {
    background-color: black !important;
    color: white;
}

.btn-get-started-scrolled {
    background-color: green !important;
    transition: background-color 1.9s ease;
}

.section-yellow {
    background-color: #ddbb2c;
}

.form-style {
    width: 500px;
    padding: 50px;
    margin: auto;
    background-color: white;
}


@media screen and (max-width: 600px) {
    .form-style {
        width: 100%;
        padding: 20px;
    }
}


.custom-btn {
    width: 100%;
    font-size: 20px;
}

body.logged-in {
    margin-top: -56px;
}

body.logged-in .navbar {
    position: static;
    background-color: white;
    transition: none;
    height: 100px;
}

body.logged-in .body-with-fixed-navbar {
    padding-top: 0;
}

body.logged-in .navbar-scrolled {
    background-color: white;
    transition: none;
}

